{% include 'superadmin/layouts/header.html' %}

<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">News / Blogs</h1>
                <div>
                    <a class="btn btn-primary" href="{% url 'superadmin:bloglist' %}"><i
                            class="side-menu__icon fe fe-eye mx-1"></i>View All</a>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW OPEN -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="row">

                <div class="col-md-4 col-xl-4 col-12">
                    <div class="card">

                        <div class="card-body">
                            
                                <div class="row">

                                    <div class="col-lg-12 col-sm-12 mb-4 mb-lg-0">
                                        <label for="#" class="form-label">Upload Thumbnail Image</label>
                                        <input type="file" class="dropify" data-bs-height="180" name="image" {% if not data %} required{% endif %} data-default-file="{{data.image.url}}" />
                                    </div>

                                </div>




                        </div>


                    </div>
                </div>

                <div class="col-md-8 col-xl-8 col-12">
                    <div class="card">

                        <div class="card-body">

                            <div class="row col-lg-12">

                                <div class="form-group col-lg-6 col-12">
                                    <label for="#" class="form-label">Title</label>
                                    <input type="text" class="form-control" id="#" placeholder="Title" name="title" required value="{{data.title}}" />
                                </div>
                                <div class="form-group col-lg-6 col-12">
                                    <label for="exampleInputEmail1" class="form-label">Select Category</label>
                                    <select class="form-control select2" data-placeholder="Select Category"  name="category" required>
                                        {% for i in category %}
                                        <option value="{{ i.id }}" {% if i.id == data.category.id %}selected{% endif %}>{{ i.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-lg-12 col-12">
                                    <label for="exampleInputEmail1" class="form-label">News Description</label>
                                    <textarea id="summernote" required name="description">{{data.description}}</textarea>
                                </div>
                               
                                <div class="form-group col-lg-3 col-3">
                                    <button class="btn btn-primary mt-4 mb-0" type="submit">Submit</button>
                                </div>

                               
                            </div>
                        </div>

                    </div>
                    <!-- ROW CLOSED -->



                </div>
                <!-- CONTAINER END -->
            </div>
        </form>
        </div>
        <!--app-content close-->

        {% include 'superadmin/layouts/footer.html' %}
