{% load static %}
        </div>

      
        <!-- FOOTER -->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-md-12 col-sm-12 text-center">
                        Copyright © <span id="year"></span> <a href="">Fundfloat Web Admin</a> All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER END -->

    </div>

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JQUERY JS -->
    <script src="{% static 'superadmin/assets/js/jquery.min.js' %}"></script>

    <!-- BOOTSTRAP JS -->
    <script src="{% static 'superadmin/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'superadmin/assets/plugins/p-scroll/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/p-scroll/pscroll.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/p-scroll/pscroll-1.js' %}"></script>
    <!-- SPARKLINE JS-->
    <script src="{% static 'superadmin/assets/js/jquery.sparkline.min.js' %}"></script>

    <!-- Sticky js -->
    <script src="{% static 'superadmin/assets/js/sticky.js' %}"></script>

    <!-- CHART-CIRCLE JS-->
   

   

    <!-- SIDEBAR JS -->
    <script src="{% static 'superadmin/assets/plugins/sidebar/sidebar.js' %}"></script>

   
   
    <!-- INTERNAL Flot JS -->
    <script src="{% static 'superadmin/assets/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/flot/jquery.flot.fillbetween.js' %}"></script>
   
    <script src="{% static 'superadmin/assets/plugins/flot/dashboard.sampledata.js' %}"></script>

    

    <!-- SIDE-MENU JS-->
    <script src="{% static 'superadmin/assets/plugins/sidemenu/sidemenu.js' %}"></script>
	
	<script src="{% static 'superadmin/assets/plugins/date-picker/date-picker.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/date-picker/jquery-ui.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/input-mask/jquery.maskedinput.js' %}"></script>
	
    <script src="{% static 'superadmin/assets/plugins/fileuploads/js/fileupload.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/fileuploads/js/file-upload.js' %}"></script>
	
	<script src="{% static 'superadmin/assets/plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'superadmin/assets/js/select2.js' %}"></script>
	 <script src="{% static 'superadmin/assets/plugins/multipleselect/multiple-select.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/multipleselect/multi-select.js' %}"></script>
    <!-- Color Theme js -->
    <script src="{% static 'superadmin/assets/js/themeColors.js' %}"></script>

    <!-- CUSTOM JS -->
    <script src="{% static 'superadmin/assets/js/custom.js' %}"></script>
   <script src="{% static 'superadmin/assets/plugins/summernote/summernote1.js' %}"></script>
    <script src="{% static 'superadmin/assets/js/summernote.js' %}"></script>
	  
    <script src="{% static 'superadmin/assets/plugins/gallery/picturefill.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/gallery/lightgallery.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/gallery/lightgallery-1.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/gallery/lg-pager.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/gallery/lg-autoplay.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/gallery/lg-fullscreen.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/gallery/lg-zoom.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/gallery/lg-hash.js' %}"></script>
    <script src="{% static 'superadmin/assets/plugins/gallery/lg-share.js' %}"></script>
    <script src="{% static 'superadmin/custom/custom.js' %}"></script>
	

    <script src="{% static 'superadmin/assets/js/custom-js-new.js' %}"></script>
    
	<script>
   $('.multi-field-wrapper').each(function() {
       var $wrapper = $('.multi-fields', this);
       $(".add-field", $(this)).click(function(e) {
           $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').val('').focus();
       });
       $('.multi-field .remove-field', $wrapper).click(function() {
           if ($('.multi-field', $wrapper).length > 1)
               $(this).parent('.multi-field').remove();
       });
   });

   $('.multi-field-wrapper1').each(function() {
       var $wrapper = $('.multi-fields1', this);
       $(".add-field1", $(this)).click(function(e) {
           $('.multi-field1:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').val('').focus();
       });
       $('.multi-field1 .remove-field1', $wrapper).click(function() {
           if ($('.multi-field1', $wrapper).length > 1)
               $(this).parent('.multi-field1').remove();
       });
   });

   $('.multi-field-wrapper2').each(function() {
       var $wrapper = $('.multi-fields2', this);
       $(".add-field2", $(this)).click(function(e) {
           $('.multi-field2:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').val('').focus();
       });
       $('.multi-field2 .remove-field2', $wrapper).click(function() {
           if ($('.multi-field2', $wrapper).length > 1)
               $(this).parent('.multi-field2').remove();
       });
   });
</script>
	
</body>

</html>